  
  body {
    width: 100%;
    margin: 0px;
    background-color: lightblue;
  }
  
  .main-header {
    background-color: pink;
  }

  .main-footer {
    background-color: yellow;
  }
  .holy-grail {
    min-height: 100vh;
    text-align: center;
  }
  
  .holy-grail,
  .holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  
  .holy-grail-content {
    flex: 1 1 auto;
  }
  
  .holy-grail-sidebar-right {
    order: 1;
    background-color: gray;
    max-width: 4%;
  }
  
  .holy-grail-sidebar-left {
    order: -1;
    background-color: gray;
    max-width: 4%;
  }
  
  /* desktop default that applies when screenwidth is at least min-width value */
  @media (min-width: 768px) {
    .holy-grail-body {
     flex-direction: row;
    }
  
    .hg-sidebar {
      flex: 0 0 260px;
    }
  }
  
  /* triggers when screen width is less than max-width value */
  @media (max-width: 768px) {
    .holy-grail-body {
     flex-direction: row;
    }
  
    .holy-grail-sidebar-left, .holy-grail-sidebar-right {
      flex: 0 0 260px;
      background-color: blue;
      max-width: 0%;
    }

  }