  
  body {
    width: 100%;
    margin: 0px;
    background-color: #fafbfd;
    font-family: monospace;
  }
  
  p {
    text-align: left;
    text-indent: 20px;
  }
  .main-header {
    color: #fafbfd;
    background-color: #2b2d2e;
    font-size: 16pt;
    padding: 10px 10px;
    border: 3px solid #57BCE5;
  }
  
  .main-footer {
    color: #fafbfd;
    background-color: #2b2d2e;
    font-size: 8pt;
    padding: 4px;
  }
  .holy-grail {
    min-height: 100vh;
    text-align: center;
  }
  
  .holy-grail,
  .holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  
  .holy-grail-content {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .holy-grail-sidebar-right {
    order: 1;
    background-color: gray;
    max-width: 5%;
  }
  
  .holy-grail-sidebar-left {
    order: -1;
    background-color: gray;
    max-width: 5%;
  }
  .std-header {
    text-align: left;
  }
  .std-border {
    border:2px solid #57BCE5;
  }
  hr {
    height: 1px;
    background-color: #2b2d2e;
    border: none;
    margin: 14px 0;
  }
  figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  figcaption {
      font-style: italic;
      font-size: 12px;
      color: #464545;
  }
  /* desktop default that applies when screenwidth is at least min-width value */
  @media (min-width: 768px) {
    .holy-grail-body {
     flex-direction: row;
    }
  
    .hg-sidebar {
      flex: 0 0 260px;
    }
  }
  
  /* triggers when screen width is less than max-width value */
  @media (max-width: 768px) {
    .holy-grail-body {
     flex-direction: row;
    }
  
    .holy-grail-sidebar-left, .holy-grail-sidebar-right {
      flex: 0 0 260px;
      background-color: blue;
      max-width: 0%;
    }

  }